$box-center: 0 auto;
$box-width: 80%; 

.MuiBox-root {
    width: $box-width;
    margin: $box-center;
}
.user-cart__body {
    &.MuiPaper-root {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .thead-btn {
        position: relative;
        .cart-chkbtn {
            position: absolute;
            bottom: 0;
            left: 6px;
        }
    }
    .cart-table {
        min-Width: 650;
        width: 90%;
        margin: 0 auto;
        .col-prod {
            display: flex;
            justify-content: flex-start;
            &__img {
                border: 1px solid rgba(224, 224, 224, 1);
                width: 100px;
                height: 100px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &__info {
                width: calc(100% - 100px);
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                &__name {
                    .MuiButtonBase-root {
                        max-width: 300px;
                        color: inherit;
                        font-size: 1.1em;
                        text-align: left;
                        b {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            display: inline-block;
                            white-space: nowrap;
                        }
                    }
                }
                &__opt {
                    color: #979797;
                    padding: 0 0.5em;
                    p {
                        font-size: 0.9em;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
            
        }
    }
    .cart-cnf {
        width: 90%;
        margin: 0 auto;
        padding: 20px 10px;
        text-align: right;
        &__price {
            font-size: 1.5em;
            font-weight: bold;
            padding: 0 0 10px 0;
            p {
                margin: 0 0 0 20px;
                display: inline-block;
            }
        }
    }
}